.carousel-item{
  height: 32rem;
 background: black;
 color: white;
 position: relative;
 background-size: cover;
 background-position: center;

}
.container-slide {
position: absolute;
bottom: 50px;
left: 0;
right: 0;
padding: 100px;

}
.overlay-image{
position:absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
background-image: url(./img/slide-1.jpg);
background-size: cover;
background-position: center;
 opacity: 0.7;
}
.modal{
  color: black;
}